[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn

[dn]
C = IN
ST = Telangana
L = Hyderabad
O = ESP32 Face Mask AI
CN = face-mask.local

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = face-mask.local
DNS.2 = localhost
